.primaryButton {
    cursor: pointer;
    background: var(--black);
    color: var(--white);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 9px 15px;
    letter-spacing: 0.25px;
    min-width: 80px;
    white-space: nowrap;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .primaryButton:hover {
    background: var(--grey);
  }
  .primaryButton a{
    text-decoration: none;
    color: inherit;
  }