@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;
  --grey: #666;

  --primary: blue;
  --secondary: green;

  --max-width: 1300px;
  --border-radius: 8px;
  --fontfamily-default: Poppins;
  --font-family-secondary: Montserrat;

  --bg-color: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: var(--fontfamily-default), "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: var(--black);
  background: var(--bg-color);
}
a {
  text-decoration: none;
  color: inherit;
}
.code {
  font-family: monospace;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}

/* xl  */
@media (min-width: 1280px) {
}

/* 2xl  */
@media (min-width: 1536px) {
}
